Customer Support Mail.json
{
  "name": "Customer Support Mail",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "4d827cfd-c26c-4a03-bb93-361927b1f375",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "eneTmljaozs8QFMg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Suppport",
              "description": "=An email that is related to helping out a customer. They may be asking questions about or policies or questions about our products or services or it can be a general FAQ question."
            },
            {
              "category": "Other",
              "description": "Any email that is not customer support related"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "b7b31989-65ff-4119-8903-c255e9d0fa47",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        208
      ],
      "id": "1ff25e37-0d5a-4bf2-91dc-0cf9253dafc9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "oKbijaGW67hgVAZv",
          "name": "FAQ"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        512,
        128
      ],
      "id": "22ea9d59-f295-4f8d-933e-e3c83aef2e2d",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.text }}",
        "options": {
          "systemMessage": "=You are a customer support again for TechSphere Solutions Pvt. Ltd. Your job is to respond to incoming emails with relevant information using your knowledgebase tool. Your output should be professional and sign off as Mr. Helpful from TechSphere Solutions Pvt. Ltd. Make sure to format the output in a proper email structure with no markdown syntax and just plain text syntax."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        640,
        -224
      ],
      "id": "8e0076be-bc82-4f22-91fc-36495445fe81",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        0
      ],
      "id": "a7bfb8f5-7b5a-4a9b-bd81-820fb8e5b923",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "oKbijaGW67hgVAZv",
          "name": "FAQ"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this knowledgebase tool to access Policy, FAQ information, and any company related information.",
        "pineconeIndex": {
          "__rl": true,
          "value": "faq-chatbot",
          "mode": "list",
          "cachedResultName": "faq-chatbot"
        },
        "options": {
          "pineconeNamespace": "faq"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        768,
        0
      ],
      "id": "564475f1-aa7e-4022-ad4f-e9177f51c1ee",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "sgd0yTRVpfi1eW9z",
          "name": "faq-chatbot"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        768,
        192
      ],
      "id": "576ba2ee-8f7e-41a2-a003-6ce2dff68d88",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "oKbijaGW67hgVAZv",
          "name": "FAQ"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1296,
        -224
      ],
      "id": "27cac7de-1d09-4846-96a4-2411c414be52",
      "name": "Reply to a message",
      "webhookId": "2714b591-e64e-447a-94e6-6393808f6131",
      "credentials": {
        "gmailOAuth2": {
          "id": "eneTmljaozs8QFMg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "IMPORTANT"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        992,
        -224
      ],
      "id": "a6413a64-d9cd-4377-aebb-c190b93712a0",
      "name": "Add label to message",
      "webhookId": "273747ba-e53f-458f-8265-955df4a29a73",
      "credentials": {
        "gmailOAuth2": {
          "id": "eneTmljaozs8QFMg",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a94c1bfe-f169-42ea-94e1-9101f1e24915",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00000cd2bf4757d517595a77fc66ad4fa7dc549b89b104566c86c7a201947452"
  },
  "id": "10j1GvJHp8eeJSzb",
  "tags": []
}